<% provide(:title, "カタログ") %>

<div class="design-index">
  <%= link_to "デザイン投稿", new_design_path, class: "btn btn-lg btn-danger" %><br>
  
  <table width="50" class="table table-bordered table-condensed" id="design-index">
    <% @designs.each do |d| %>
      <td>
        <img src="<%= d.image %>"><br>
        <%= link_to d.title, design_path(d.id) %><br>
        <%= link_to "注文", "#", class: "btn btn-sm btn-success" %>
        <% if current_user.admin? %>
          <%= link_to "削除", design_path(d.id), method: :delete,
                            data: { confirm: "削除してよろしいですか？" },
                            class: "btn btn-danger btn-sm" %>
        <% end %>
      </td>
    <% end %>
  </table>
</div>
