<% provide(:title, @design.title) %>

<div class="design-show">
    <h3><%= @design.title %></h3>
    <h6>
      <%= @design.type %>
      <% if @design.machine.present? %>
        ：<%= @design.machine %>
      <% end %>
    </h6>
    <h6>デザイナー：<%= link_to @designer.name, user_path(@designer) %>　作成日：<%= @design.created_at.strftime('%Y/%m/%d') %></h6>
    <%= image_tag @design.image.url %><br>
    <% if current_user.position == "カスタマー" %>
      <%= link_to "発注", order_show_user_design_orders_path(@user, @design), remote: true, class: "btn btn-sm btn-success" %>
    <% end %>
    <% if @design.user_id == current_user.id || current_user.admin? %>
      <%= link_to "編集", edit_design_path(@design), class: "btn btn-sm btn-primary" %>
      <%= link_to "削除", design_path(@design.id), method: :delete,
                        data: { confirm: "削除してよろしいですか？" },
                        class: "btn btn-danger btn-sm" %>
    <% end %>
    <%= link_to "戻る", designs_path, class: "btn btn-sm btn-default" %>
    
    <% if current_user.already_liked?(@design) %>
      <%= button_to 'いいねを取り消す', design_like_path(@design), method: :delete %>
    <% else %>
      <%= button_to 'いいね！♥', design_likes_path(@design) %>
    <% end %>
    <h6><%= @design.likes.count %>件</h6>
</div>

<!--モーダルウインドウ-->
<!--注文-->
<div id="order-show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>