<% provide(:title, "発注カート") %>

<h1>発注カート</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>発注日</th>
        <th>タイトル</th>
        <th>デザイン</th>
        <th>サイズ</th>
        <th>方向</th>
        <th>紙の種類</th>
        <th>枚数</th>
        <th>納品日</th>
        <th>備考</th>
        <th></th>
      </tr>
    </thead>
    <% if @orders_count != 0 %>
      <% @orders.each do |o| %>
        <tbody>
          <tr>
            <td><%= o.created_at.strftime('%m/%d') %></td>
            <td></td>
            <td></td>
            <td><%= o.size %></td>
            <td><%= o.hw %></td>
            <td><%= o.paper %></td>
            <td><%= o.number %></td>
            <td><%= o.delivery_date.strftime('%m/%d') %></td>
            <td><%= o.note %></td>
            <td>
              <%= link_to "編集", "#", class: "btn btn-sm btn-primary" %>
              <%= link_to "削除", "#", method: :delete,
                        data: { confirm: "削除してよろしいですか？" },
                        class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% else %>
      <% flash.now[:danger] = "カートに入っているデザインはありません。" %>
    <% end %>
  </table>
</div>

