<% provide(:title, "発注履歴") %>

<h1>発注履歴</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="pull-right">
    <%= form_tag(customer_order_log_user_path, method: :get) do %>
      <%= date_select :search, 'created_at', {start_year: Time.now.year, end_year: Time.now.year-5, discard_day: true, prompt: {year: "年", month: "月"}}, :required => true, class: "form-control" %>
      <%= submit_tag "　検索　", created_at: :nil, class: "btn btn-primary btn-show" %>
    <% end %>
  </div>
  <br><br><br><br><br><br>

    <% @orders.each do |id, order| %>
      <table class="table table-bordered table-condensed table-striped" id="table-cart">
        
          <thead>
            <th width="150px">タイトル</th>
            <th width="110px">デザイン</th>
            <th width="80px">サイズ</th>
            <th width="80px">方向</th>
            <th width="110px">紙の種類</th>
            <th width="60px">枚数</th>
            <th>備考</th>
            <th>金額</th>
            <th width="80px">発注日</th>
            <th width="80px">納品日</th>
            <th width="80px">状態</th>
          </thead>
                
        <% order.each do |ord| %>
            <tbody>
              <td><%= Design.find(ord.design_id).title %></td>
              <td><%= image_tag Design.find(ord.design_id).image.url %></td>
              <td><%= ord.size %></td>
              <td><%= ord.hw %></td>
              <td><%= ord.paper %></td>
              <td><%= ord.number %></td>
              <td>
                  <% if ord.note.present? %>
                    <%= ord.note %>
                  <% end %>
              </td>
              <td>
                <%= price = price_one(ord.size, ord.number) %>円
                <% @total_prices = @total_prices.to_f + price.to_f %>
              </td>
              <td><%= ord.created_at.strftime('%m/%d') %></td>
              <td><%= ord.delivery_date.strftime('%m/%d') %></td>
              <td><%= ord.order_status %></td>
            </tbody>
        <% end %>
      </table>
    <% end %>
    <% if @orders.present? %> 
      <div class="pull-right"><h3>計　<%= @total_prices.floor %>円</h3></div>
    <% end %>
  </div>
</div>
