<% provide(:title, @user.name) %>

<div class="user-show">
    <% if @user.img.present? %>
      <%= image_tag @user.img.url %>
    <% else %>
      <%= image_tag "/user_images/default.png" %>
    <% end %>
    <h3><%= @user.name %></h3>
    <h3><%= @user.email %></h3>
    <h3><%= @user.affiliation %></h3>
    <%= link_to "編集する", edit_user_path(@user), class: "btn btn-lg btn-primary" %>
</div>
