  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">デザイン発注</h1>
      </div>
      <div class="modal-body">
        <div class="row design-order">
          <div class="col-md-10 col-md-offset-1">
            <h3>◆No.<%= @design.id %> <%= @design.title %></h3>
              <%= image_tag @design.image.url %><br>

              <%= form_with(model: @order, url: create_order_show_user_design_orders_path(@user, @design), local: true, method: :post) do |f| %>
              <%= render 'shared/error_messages', object: @order %>
                <table class="table table-bordered table-condensed table-striped order-table">
                  <thead>
                    <tr>
                      <th width="100px">サイズ</th>
                      <th width="80px">方向</th>
                      <th width="100px">種類</th>
                      <th width="30px">枚数</th>
                      <th width="120px">納品日</th>
                    </tr>
                  </thead>
            
                  <tbody>
                    <tr>
                      <td>
                        <%= f.select :size, [['B0'], ['B1'], ['B2'], ['B3'], ['B4'],
                                            ['A0'], ['A1'], ['A2'], ['A3'], ['A4']],
                                            { include_blank: true }, class: "form-control" %>
                      </td> 
                      <td>
                        <label>
                          <%= f.radio_button :hw, "縦" %>縦
                          <%= f.radio_button :hw, "横" %>横
                        </label>
                      </td>
                      <td><%= f.select :paper, [['合成紙'], ['ラミ']], { include_blank: true }, class: "form-control" %></td>
                      <td><%= f.number_field :number, class: "form-control" %></td>
                      <td><%= f.date_field :delivery_date, class: "form-control" %></td>
                    </tr>
                    <tr>
                      <th valign="middle">備考</th>
                      <td colspan="5"><%= f.text_area :note, class: "form-control" %></td>
                      <%= f.hidden_field :order_status, value: "カートへ" %>
                    </tr>
          
                  </tbody>
                </table>
                <div class ="center">
                  <%= f.submit "カートに入れる", class: "btn btn-success btn-lg" %>
                  <%= link_to "戻る", design_path(@design), class: "btn btn-lg btn-default" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
  </div>
