<% provide(:title, "カート編集") %>

<h1>カート編集</h1><br>

<%= form_with(model: @user, url: orders_update_cart_user_path(@user), local: true, method: :patch) do |f| %>
  <div>
    <table class="table table-bordered table-condensed table-hover" id="table-cart">
      <thead>
        <tr>
          <th width="150px">タイトル</th>
          <th>デザイン</th>
          <th>サイズ</th>
          <th width="80px">方向</th>
          <th width="110px">紙の種類</th>
          <th width="60px">枚数</th>
          <th>備考</th>
          <th>発注日</th>
          <th>納品日</th>
          <th></th>
        </tr>
      </thead>
      <% if @orders_count != 0 %>
        <% @orders.each do |id, order| %>
          <tbody>
            <tr>
              <td><%= Design.find(id).title %></td>
              <td><%= image_tag Design.find(id).image.url %></td>
              <% order.each do |ord| %>
                <%= f.fields_for "orders[]", ord do |o| %>
                  <td>
                    <%= o.select :size, [['B0'], ['B1'], ['B2'], ['B3'], ['B4'],
                                        ['A0'], ['A1'], ['A2'], ['A3'], ['A4']],
                                        { include_blank: true }, class: "form-control" %>
                  </td> 
                  <td>
                    <label>
                      <%= o.radio_button :hw, "縦" %>縦
                      <%= o.radio_button :hw, "横" %>横
                    </label>
                  </td>
                  <td><%= o.select :paper, [['合成紙'], ['ラミ']], { include_blank: true }, class: "form-control" %></td>
                  <td><%= o.number_field :number, class: "form-control" %></td>
                  <td><%= o.text_area :note, class: "form-control" %></td>
                  <td><%= ord.created_at.strftime('%m/%d') %></td>
                  <td><%= o.date_field :delivery_date, class: "form-control" %></td>
                      <%= o.hidden_field :order_status, value: "発注" %>
                  <td>
                    <%= link_to "削除", "#", method: :delete,
                              data: { confirm: "削除してよろしいですか？" },
                              class: "btn btn-danger btn-sm" %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      <% else %>
        <% flash.now[:danger] = "カートに入っているデザインはありません。" %>
      <% end %>
    </table>
    <div class="center">
      <%= link_to "編集", orders_edit_cart_user_path(@user), class: "btn btn-lg btn-primary" %>
      <%= link_to "戻る", cart_user_path(@user), class: "btn btn-lg btn-default" %>
    </div>
  </div>
<% end %>